@import 'carbon-components/scss/globals/scss/styles.scss';

// Global Styles

body {
  font-size: 14px;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  line-height: 14pt;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  background: #F7F9FB;
}

h3 {
  font-size: 32px;
  line-height: 37px;
}

h4{
  font-size: 24px;
  line-height: 34px;
}

p {
  font-size: 14px;
  line-height: 24px;
}

a {
  color: #00a0df
}

a:link, a:visited {
  color: #8094d6;
}

#title {
  text-align: center;
}

// Header and Footer

.bx--header{
  background: #002F87;
}

.Homepage__footer {
  text-align: center;
}

// Navigation Menu
.bx--grid{
  .navigationMenu {
    margin: 2rem;
    float: right !important;
    left: 100% !important;
  }
  .bx--header__nav:before{
    background-color: transparent;
  }

  a.bx--header__menu-item span {
    color: #002F87;
  }
} 


// Bx--Form Fields
#entando-customer-portal{
  form.bx--form {
    background: #FFF;
    margin: 2rem 0;
    padding: 1rem;
  }
  .bx--label {
    font-size: 14px;
    font-weight: 400;
  }
  .bx--data-table-header {
    background: #FFF;
  }
  .bx--data-table th {
    background-color: #eaf0f5;
  }
  .bx--tile {
    background: #FFF;
  }
  .bx--data-table td,  .bx--data-table tbody th {
    background: #FFF;
  }
  nav.bx--pagination-nav {
    float: right;
  }
  .modal-form form.bx--form {
    background: transparent;
  }
  .bx--form-item {
    margin-bottom: 1.5rem;
  }
  .form-container {
    margin: 15px;
  }
  .form-container .form-desc {
    margin: 2rem 0;
    padding: 0 2rem;
  }
  .bx--accordion__title{
    font-size: 18px;
  }
  .bx--data-table .bx--table-header-label {
    font-weight: normal;
  }
  .bx--modal-container{
     background: #FFF;
     .form-container{
        background: transparent;
      }
      .bx--modal-header {
        padding-left:2rem;
      }
  }
  
  .bx--modal .bx--text-input, 
  .bx--modal .bx--text-area, 
  .bx--modal .bx--search-input, 
  .bx--modal .bx--select-input, 
  .bx--modal .bx--dropdown, 
  .bx--modal .bx--dropdown-list
  {
    background-color: #f4f4f4;
  }
 

// Admin Dashboard

  .admin-dashboard{
    .bx--accordion__item {
      padding: 1rem;
    }
    .bx--accordion__item .bx--data-table-header {
      display: none;
    }
    .bx--accordion__content {
      padding-right: 2rem;
    }
    .bx--accordion__heading:focus::before {
      border: 0;
    }
    .bx--accordion__heading:hover::before {
      background-color: transparent;
    }
    .bx--tile {
      margin: 15px;
      min-height: 150px;
      background: #FFF;
    }
    .add-customer, .add-partner, .add-project {
      float: right;
    }
    .bx--search-input{
      border-bottom:0;
    }
  }  

// Customer Table

  #customer-table {
    text-align: center;
    border-collapse: collapse;
    border: 3px solid #DDD;
    width: 100%;
    
    td, th {
      border: 1px solid #DDD;
      padding: 8px;
    }
    th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: center;
      color: #FFF;
    }
  }  
  .customer-details {
    background: #FFF;
    width: 368px;
    margin: 2rem 0;
  }
  .subscription-details {
    width: auto;
    margin: 2rem 0;
  }
  .title{
    font-size: 18px;
    margin: 0 0 15px 15px;
  }
  .desc{
    padding-left:15px;
  }
  .form-container{
    background: #FFF;
  }
}