@import 'carbon-components/scss/globals/scss/styles.scss';

// This section will be removed
body{
  width: 100%;
  background-color: #F4F4F4 !important;
}

#dashboard-widget{
  width: 75%;
  margin: 0 auto;
  a{
    color: #00A0DF;
  }
  form.bx--form {
    background: #FFF;
    margin: 2rem 0;
    padding: 1rem;
  }
  .bx--label {
    font-size: 14px;
    font-weight: 400;
  }
  .bx--data-table-header {
     background: #FFF;
   }
  .bx--data-table th {
    background-color: #EAF0F5;
   }
  .bx--tile{
    background: #FFF;
    h4,p{
      padding: 0 0 0 1rem;
    }  
  }
  .bx--data-table td, .bx--data-table tbody th{
    background: #FFF;
  }
  p{
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
  }
  #title {
    text-align: center;
    font-family: arial, sans-serif;
  }
  h3{
   margin: 1em 0;
   size: 32px;
   font-weight: 700;
  }
  li.bx--accordion__item{
    padding: 1rem;
  }
  .admin-dashboard{
    .bx--accordion__item{
      padding: 1rem;
      .bx--data-table-header{
        display:none;
      }
    }
    .bx--accordion__content{
      padding-right:2rem;
    }
    .bx--accordion__heading:focus::before{
      border:0;
    }
    .bx--accordion__heading:hover::before{
      background-color: transparent ;
    }
    .bx--tile{
      margin: 15px;
      min-height:150px;
      padding: 1rem;
    }
    .add-customer, .add-partner{
      float: right;
    }
  } 
  .modal-form{
    form.bx--form{
      background: transparent;
    }
  } 
}

#customer-table {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

#customer-table td, #customer-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customer-table tr:nth-child(even){
  background-color: #f2f2f2;
}

#customer-table tr:hover{
  background-color: #ddd;
}

#customer-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: grey;
  color: white;
}

.customer-details{
  background: #FFF;
  width: 368px;
  margin: 2rem 0;
}

.subscription-details{
  width: auto;
  margin: 2rem 0;
}

.bx--form-item{
   margin-bottom: 1.5rem;
}

.form-container{
  background: #FFF;
  margin: 15px;
  margin-top: 1rem;
    .form-desc{
      margin: 2rem 0;
      padding: 0 2rem;
    }
 }

 .pagination-right{float:right;}

 //This block will be removed

.role-check{
  .bx--select{width: 25%;}
  .bx--select-input, .bx--select-input:hover{background-color: #fff;}
} 

ul#navigation {
  float: right;
    display: block;
    margin-top: 3rem;
    position: fixed;
    top: 0;
    right: 13rem;

  li {
    display: inline;
    padding: 10px;
  }
}
